h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h5, p{
    font-size: 14px;
}
body{
    margin-top: 20px;
    font-family: 'inter', sans-serif;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    font-size: 14px;
    background-color: black;
}
header{
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 100vw;
    height: 70px;
    background-color: rgb(255, 220, 24);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
#logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo h4{
    text-align: center;
}
#barraDeNavegacao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 450px;
    height: 100%;
    font-size: 16px;
    gap: 20px
}
li{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px rgb(255, 220, 24);
}
li:hover{
    cursor: pointer;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.7);
    color: hwb(51 9% 0%);
    border-color: white;
    border-radius: 4px;
}
#container{
    position: relative;
    top: 15%;
    display: flex;
    padding-left: 30px;
    width: 100%;
    height: 100%;
}
#vitrine{
    display: flex;
    gap: 20px;
    align-items: space-around;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 400px;
    border: 3px solid white;
    border-radius: 4px;
    background-color: rgb(252, 214, 0);
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.card:hover{
    border-color: rgb(255, 220, 24);
    background-color: black;
    padding: 5px;
}
.bigImg{
    max-width: 100%; 
    border-radius: 4px;
}
.cardImg{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: #F5F5F5;
}
.cardText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    background-color: black;
    color: white;
}
.tag{
    padding: 12px, 5px;
    margin-left: 4px;
    height: 24px;
    width: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 220, 24);
    border: 3px solid black;
    border-radius: 4px;
    font-size: 12px;
}
.tag:hover{
    cursor: pointer;
    border-color: rgb(255, 220, 24);
}
.title, .description, .price, .add{
    margin-left: 5px;
}
.add{
    padding-top: 3px;
    padding-bottom: 3px;
}
.add:hover{
    cursor: pointer;
    transition: .5s;
    text-align: center;
    background-color: rgb(255, 220, 24);
    color: black;
    padding: 3px;
    border-radius: 4px;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
#search{
    display: flex;
    width: 345px;
    gap: 5px;
    margin-bottom: 20px;
}
#searchInput{
    width: 245px;
    border: none;
    background-color: white;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
#search label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 52px;
    background-color: #292929;
    color: white;
    border-radius: 4px;
    border: solid 1px #292929;
}
#search label:hover{
    cursor: pointer;
    color: rgb(255, 220, 24);
    border: solid 1px rgb(255, 220, 24);
}
#shoppingCart h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #292929;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#cartContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 215px;
    padding: 10px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.cartCard{
    display: flex;
    width: 340px;
    background-color: black;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cartCardFigure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 100px;
    background-color: white;
}
.cartCardImg{
    max-height: 90%;
}
.cartCardText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    border-left: 2px solid black;
    color: black;
    background-color: rgb(255, 220, 24);
}
.remove:hover{
    cursor: pointer;
    transition: .5s;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 4px;
}
#resultContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    padding: 20px;
    background-color: #292929;
    color: white;
    border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;
}
#quantSection, #totalSection{
    display: flex;
    justify-content: space-between;
}